// ==================================================================
// RESPONSIVE
// ==================================================================

// Device Widths
// these have been sync'd with config/device.js
$mobile-width: 320px;
$mobile-landscape-width: 520px;
$tablet-width: 1024px;
$desktop-width: 1280px;

@mixin mq($point) {
    $mobile: "(min-width : 0)";
    $mobile-landscape: "(min-width : #{$mobile-landscape-width})";
    $tablet: "(min-width : #{$tablet-width})";
    $desktop: "(min-width : #{$desktop-width})";
    @if $point == mobile {
        @media #{$mobile} {
            @content;
        }
    }
    @else if $point == mobile-landscape {
        @media #{$mobile-landscape} {
            @content;
        }
    }
    @else if $point == tablet {
        @media #{$tablet} {
            @content;
        }
    }
    @else if $point == desktop {
        @media #{$desktop} {
            @content;
        }
    }
    @else if $point == widescreen {
        @media #{$widescreen} {
            @content;
        }
    }
}

@include mq(mobile) {
    .row { width: 100%; display: block; }
    .col { display: block; }
}

@include mq(tablet) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}
