$black: #000000;
$white: #FFFFFF;

// taken from MorethanmyDX_LogoBranding.revHead(1).ai
$dark_blue:#003B57;
$light_blue:#00BBEA;
$muted_blue: #BFDEF1;
$green: #00B1A0;
$pink: #FF508D;
$orange: #FF7D09;
$grey: #6D6E70;
$light_grey: #E5EBEE;
